/* Definição de variáveis */
:root {
    --fonte01: 'Raleway', sans-serif;
    --fonte02: 'Roboto', sans-serif;
    --fonte03: 'Montserrat', sans-serif;
    --fonte04: 'Tilt Neon', sans-serif;
    --cinza01: #404258;
    --cinza02: #474E68; 
    --cinza03: #50577A; 
    --cinza04: #e7e9f1;
    --darkk: #0F0F0F;
    ;
    --cor-destaque: #EE9322;

  }
    
  body {
    font-family: var(--fonte01);
    background:var(--darkk);
    color: aliceblue;
    font-size: 1.2rem;
  }

  header {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.9)), url('https://source.unsplash.com/1200x1000/?sports-car');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 2rem;
    height: 80vh;
  }

  header .btn-custom {
    background-color: var(--cor-destaque);
    color: var(--darkk);
    border: var(--cinza03);
    transition: background-color 0.3s, color 0.3s; /* Efeito de transição suave */
    font-weight: bold;
    font-family: var(--fonte01);
  }

  header .btn-custom:hover {
    background-color: var(--cinza04);
    color: var(--cinza01);
   
  }

  aside {
    background-color: var(--cinza01);
    border: 2px solid var(--cinza04);
    border-end-start-radius: 1.2rem;
    
  }

  .title-aside {
    margin-top: 0.8rem;
  }
  
  aside p {
    padding: 0.8rem;
  }

h2, h3, p {
    padding: 0.6rem;
}

section {
    margin-block: 1.3rem ;
}

.titulo-destaque {
    font-family: var(--fonte04);
    color: var(--cor-destaque);
    border-bottom: 1px solid var(--cinza04);
    font-weight: bold;
}


.saudacao{
    padding: 2rem;
}

.custom-container {
    background-color: var(--cinza04);
    color: var(--darkk);
    padding: 1.5rem;
    border: 2px solid var(--cinza03);
    border-radius: 1.2rem;

}


.card-text {
    font-size: 1rem;
}


.whatsapp-link {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}
.whatsapp-link:hover{
  opacity: 0.8;
}

.fa-whatsapp {
  margin-top: 16px;
}